.first__title {
    text-align: center;
}

.first__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    list-style: none;
}

.first__img {
    width: 300px;
    height: 300px;
}